.secao--resultados {
    height: auto;
    width: 100%;
    max-width: 1028px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.titulo-erro {
    font-weight: bold;
    font-size: 2.5rem;
    color: #384F08;
    width: 100%;
    text-align: center;
}
.card-eco {
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 20rem;
    overflow: hidden;
    border: 1px solid #384F08;
}

.card-img-eco {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.card-img-top-eco {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s all ease;
}

.card-img-top-eco:hover {
    scale: 0.9;
}

.card-body-eco {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    height: 100%;
    background-color: #EAECDB;
    color: #384F08;
}

.card-title-eco {
    width: 100%;
    height: fit-content;
    font-size: 1.125rem;
    font-weight: bold;
    color: #384F08;
}

.card-text-eco {
    box-sizing: border-box;
    padding-top: .5rem;
    width: 100%;
    height: 100%;
    font-size: .875rem;
}
.button-produto-eco {
    box-sizing: border-box;
    width: fit-content;
    font-size: .825rem;
    font-weight: bold;
    padding: .75rem 1.5rem;
    color: #EAECDB;
    background-color: #384F08;
    text-decoration: none;
}

.button-produto-eco:hover {
    color: #EAECDB;
}