main {
    width: 100%;
    height: auto;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
}

.secao--sobre, .secao--parceiro {
    width: 100%;
    height: auto;
    max-width: 1028px;
    margin: 0 auto;
    padding: 2.5rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.secao--img {
    height: 100%;
    width: 50%;
    object-fit: contain;
}

.secao--info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.secao--titulo {
    height: auto;
    font-size: 1.625rem;
    text-align: center;
    font-weight: 700;
}

.secao--lista {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.secao--lista__sobre {
    display: flex;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    text-align: left;
} 

.secao--lista__sobre span {
    background-image: url('../img/folha.png');
    background-repeat: no-repeat;
    background-position: left;
}

.secao--lista__sobre li {
    padding-left: 1.825rem;
} 

.secao--lista__parceiros {
   text-align: right;
   padding-left: 6rem;
   padding-right: 6rem;
}

.secao--lista__parceiros li{
    padding-right: 1.825rem;
 }

.secao--lista__parceiros span {
    background-image: url('../img/folha.png');
    background-repeat: no-repeat;
    background-position: right;
}

.secao--button{
    margin-top: 3rem;
    text-transform: uppercase;
    width: fit-content;
    background-color: #384F08;
    color: white;
    font-weight: 600;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
    height: 9rem;
    width: 100%;
    background-color: #544441;
    box-sizing: border-box;
}

.logo--rodape {
    background-color: white;
    height: fit-content;
}

@media screen and (max-width: 768px) {
    main {
        gap: 0%;
    }
    .secao--sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: visible;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .secao--info {
        margin: 2rem 0;
        width: 100%;
        padding: 0 1rem;
    }

    .secao--titulo {
        margin: 1rem 0;
        font-size: 1.725rem;
    }
    .secao--img {
       width: 100vw;
    }

    .secao--lista {
        padding: 0rem;
    }
}
